<%- include("partials/header") %>
<%- include("partials/navbar") %>
<br>
<div class="col-lg-10 align-center">

    <div class="container pt-5">
        <div class="row">
            <div class="col-lg-10">
                <div class="content jumbotron">
                    <h1>More detail on <%=game.name %> </h1>
                </div>
            </div>
        </div>
    </div>


<div class="container">
<!-- put inside a flex box so it scales as the screen resizes --> 	

	<p class="container">
		<img class="show_single_image" style="max-width:100%;height:auto;" src = "<%= game.image %>">
	</p>
	<p>
		<% if (game.description !=null) { %>
			<%= game.description %>
		<% } %>		
	</p>
		<p>
		<% if (game.story !=null) { %>
			<%= game.story %>
		<% } %>		
		</p>
		<% if (game.price !=null) { %>
			<%= game.price %>
		<% } %>		
		</p>
		<% if (game.owner !=null) { %>
			<%= game.owner %>
		<% } %>		
		</p>
 <div class=container> 
    <a type="button" class="btn btn-primary deleteButtons" href="/games/<%= game._id %>/edit">Edit</a>
	<form action="/games/<%= game._id %>?_method=DELETE" method="POST"> <button class="btn btn-danger deleteButtons">Delete</button></form>
	<a type="button" class="btn btn-success deleteButtons" href="/games">Go Back</a>
</div>

</div>
</div>

<br>
<%- include("partials/footer") %>
